#icon--yellow {
    color: yellow;
}

.score-row {
    width: 100%;
    align-items: center;
}

.score-col {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    width: 47%;
}

#yellow-name--modal {
    font-weight: normal;
}

#black-name--modal {
    font-weight: normal;
}