body {
    margin-top: 75px;
}

#container--scoreboard {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#container--player-scoreboard {
    flex: 1;
}

#container--player-details {
    display: flex;
    justify-content: center;
    text-align: center;
}

#icon--yellow {
    color: yellow;
}

.score {
    font-size: 150px;
}

.name {
    font-size: 30px;
}

.modal-title {
    display: inline;
}

.modal-body {
    display: flex;
    flex-direction: column;
}

.modal-row {
    display: flex;
    margin-top: 3px;
}

.modal-col {
    flex-grow: 1;
    margin-left: 3px;
    margin-right: 3px;
}

#yellow-name--modal {
    font-weight: normal;
}

#black-name--modal {
    font-weight: normal;
}

#menu { 
    display: flex;
    flex-direction: column;
}

.game-option:hover {
    cursor: pointer; cursor: hand;
}

#menu--timer {
    font-size: 50px;
}

.menu-button {
    margin-top: 5px;
}